.home{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: 'Mulish';
    font-style: normal;
    width: 100%;
    overflow: hidden;
    margin: 20px 0px 0px 0px;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

